/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* !Utils */

/* generics */

.flex{
    display: flex;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
   
}

a{
    text-decoration: none;
}

/* button */

.button{
    padding: 10px 15px;
    color: #fff;
    background-color: #0061FF;
    margin: 30px 0;
    display: inline-block;
}

.button.start{
    margin: 0;
}
/* background */

.bgc-nav{
    background-color: #fff;
}

.bcg-jumbotron{
    background-color: #B4D0E7;
    height: 740px;
}

/* container */

.container.jumbotron{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 1000px;
    margin: 100px auto;
}

/* ? header */

#nav{
    padding: 20px 0;
    border-bottom: 1px solid #D1D9E1;
    
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    left: 0;
}

.info-box{
    margin-left: 15px;
}

.info-box > ul,
.login-box > ul{
    gap: 30px;
    align-items: center;
    font-size: 18px;
}


/* ? main */

/* ! jumbotron */

.jumbotron{
    flex-wrap: wrap;
}

.jumbotron-title{
    flex-basis: 100%;
    font-size: 50px;
    
    margin-top: 80px;
    margin-bottom: 50px;
}

.jumbotron-title > h1{
    font-weight: 900;
}

.jumbotron-info{
    flex-basis: 30%;
    font-size: 1rem;
    line-height: 22px;
}

.jumbotron-img{
    flex-basis: 70%;
}

/* ! business plans */

.plans{
    flex-wrap: wrap;
    margin: 40px 0;
    margin: 0 -20px;
}

.small-card{
    flex-basis: calc(100% / 3 - 120px / 3);
    border: 1px solid black;
    margin: 0 20px;
}

.icon{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0;
}

.card-description{
    padding: 40px;
    flex-basis: 70%;
}

.list-plan li::before {
    content: "\2714";
    color: #0061FF; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.big-card{
    flex-basis: 100%;
    border: 1px solid black;
    margin: 20px;
}

.card-button{
    flex-basis: 30%;
}

/* ! Dropbox business */

.row{
    flex-wrap: wrap;
    margin: 0px -20px;
}

.column{
    flex-basis: calc(100% / 3);
    padding: 0 20px;
    border: 1px solid black;
}

/* ! Company */

.box-company{
    margin: 100px 0;
    flex-wrap: wrap;
}

.company{
    flex-basis: calc(100% / 3);
    border: 1px solid black;
    flex-wrap: wrap;
}

.logo-company{
    flex-basis: 50%;
    padding: 20px;
    
}

.your-company{
    flex-basis: 100%;
}

/* ? Hover */

