/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* !Utils */

/* generics */

.flex{
    display: flex;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

a{
    text-decoration: none;
}

/* button */

.button{
    padding: 10px 20px;
    color: #fff;
    background-color: #0061FF;
    margin: 20px 0;
    display: inline-block;
}

.button.start{
    margin: 0;
    margin-right: 20px;
}
/* background */

.bgc-nav{
    background-color: #fff;
}

.bcg-jumbotron{
    background-color: #B4D0E7;
    height: 670px;
}

/* container */

.container.jumbotron{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 1000px;
    margin: 100px auto;
    height: 500px;
}

/* ? header */

#nav{
    padding: 20px 0;
    box-shadow: 0 2px 5px #000;
    
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    left: 0;
}

/* ? main */

/* ! jumbotron */

.jumbotron{
    flex-wrap: wrap;
}

.jumbotron-title{
    flex-basis: 100%;
    font-size: 50px;
    font-weight: 900;

    margin-top: 60px;
    margin-bottom: 40px;
}

.jumbotron-info{
    flex-basis: 30%;
    font-size: 1rem;
    line-height: 20px;
}

.jumbotron-img{
    flex-basis: 70%;
}

/* ! business plans */

.plans{
    flex-wrap: wrap;
    margin: 40px 0;
    margin: 0 -20px;
}

.small-card{
    flex-basis: calc(100% / 3 - 120px / 3);
    border: 1px solid black;
    margin: 0 20px;
}

.icon{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px 0;
}

.card-description{
    padding: 40px;
    flex-basis: 70%;
}

.list-plan li::before {
    content: "\2714";
    color: #0061FF; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.big-card{
    flex-basis: 100%;
    border: 1px solid black;
    margin: 20px;
}

.card-button{
    flex-basis: 30%;
}

/* ! Dropbox business */


.row{
   flex-wrap: wrap; 
}

.column{
    flex-basis: calc(100% / 3);
    padding: 0 20px;
    border: 1px solid black;
}