/* ? CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* !Utils */

/* generics */

.flex{
    display: flex;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;  
}

a{
    text-decoration: none;
}

a.decoration{
    margin: 5px;
    color: blue;
    text-decoration: underline;
}

.border{
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.center{
    justify-content: center;
    align-items: center;
}

/* ! padding */

.padding-20{
    padding: 20px;
}

.padding-40{
    padding: 40px;
}

/* ! margin */

.margin-b-30{
    margin-bottom:  30px;
}

.margin-t-50{
    margin-top:  50px;
}

/* button */

.button{
    padding: 10px 15px;
    color: #fff;
    background-color: #0061FF;
    display: inline-block;
    
}

.button.block{
    display: block;
    text-align: center;
}

.button.white-border{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.button.white{
    color: black;
    background-color: white;
}

.button:hover{
    box-shadow: 0 0 10px #0061FF;
}

.button.white-border:hover{
    box-shadow: 0 0 10px black;
}

/* background */

.bgc-nav{
    background-color: #fff;
}

.bgc-jumbotron{
    background-color: #B4D0E7;
    height: 740px;
    margin-bottom: 200px;
}

.bgc-footer{
    background-color: #000;
}

.bgc-lightgreen{
    background-color: #A2D39B;
}

.bgc-bordeaux{
    background-color: #61082B;
}

.bgc-skyblu{
    background-color: #0093CE;
}

.bgc-orange{
    background-color: #FF1C1C;
}

.bgc-red{
    background-color: #D5001F;
}

.bgc-lightblu{
    background-color: #B4D0E7;
}

.bgc-blu{
    background-color: #0D2481;
}

.bgc-yellow{
    background-color: #FFD830;
}

.bgc-grey{
    background-color: #F5F5F5;
}
/* container */

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-main{
    max-width: 1000px;
    margin: 100px auto;
}

/* ? header */

#nav{
    /* padding: 20px 10px; */
    border-bottom: 1px solid #D1D9E1;
    height: 100px;
    
    justify-content: space-between;
    align-items: center;
    
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

/* .info-box ul,
.login-box  ul{
    gap: 30px;
    align-items: center;
    font-size: 18px;
} */

.info-box, .login-box{
    gap: 30px;
}

.info-box > *,
.login-box > * {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 100px;
    justify-content: center;
}

.info-box div:hover,
.login-box div:hover{
    border-bottom: 1px solid black;
}

/* ? main */

/* ! jumbotron */

.jumbotron{
    flex-wrap: wrap;
}

.jumbotron-title{
    flex-basis: 100%;
    font-size: 50px;
    
    margin-top: 80px;
    margin-bottom: 50px;
}

.jumbotron-title h1{
    font-weight: 900;
}

.jumbotron-info{
    flex-basis: 30%;
    font-size: 1rem;
    line-height: 22px;
}

.jumbotron-img{
    flex-basis: 70%;
}

/* ! business plans */
.business-plans h2{
    font-size: 42px;
    margin-bottom: 40px;
}

.button-check{
    margin-bottom: 40px;
}

.button-check span{
    margin-right: 20px;
}

.plans{
    flex-wrap: wrap;
    margin: 40px 0;
    margin: 0 -20px;
}

.small-card{
    flex-basis: calc(100% / 3 - 120px / 3);
    margin: 0 20px;
}

.icon{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}

.card-description{
    padding: 40px 30px;
    flex-basis: 70%;
}

.title-card{
    font-size: 25px;
    margin-bottom: 20px;
}

.price{
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscription-duration{
    display: block;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.fa-ul{
    margin-left: 20px;
}

.card-description li{
    margin-bottom: 20px;
}

.or{
    display: inline-block;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);;
}

.list-plan{
    margin-left: 1em;
}
.list-plan li::before {
    content: "\2714";
    color: #0061FF; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
}

.big-card{
    flex-basis: 100%;
    margin: 20px;
}

.card-button{
    flex-basis: 30%;
    text-align: center;
    padding: 20px;
}

/* ! box */

.box-img{
    flex-basis: 60%;
}

.box-description{
    flex-basis: 40%;
    padding: 40px;
}

.box-description h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.box-description p{
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 30px;
}
/* ! Dropbox business */

.dropbox-business h2{
    font-size: 40px;
    font-weight: bolder;
}

.row{
    flex-wrap: wrap;
    margin: 0px -20px;
}

.column{
    flex-basis: calc(100% / 3);
    padding: 20px;
}

.column h3{
    font-size: 25px;
    margin-bottom: 30px;
}

.column p{
    font-size: 1rem;
    line-height: 22px;
}

/* ! small-box */

.small-box h2{
    font-size: 50px;
    margin-bottom: 30px;
}

/* ! Company */

.box-company{
    margin: 100px 0;
    flex-wrap: wrap;
}

.company{
    width: calc(99vw / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.company > img{
    width: 50%;
}

.logo-company{
    width: 50%;
    height: 50%;
    border: 5px solid transparent;
    justify-content: center;
    align-items: center;
}

.company .logo-company:hover{
    border: 5px solid rgba(255, 255, 255, 0.5);
    scale: 1.1;
}

.logo-company img{
    width: 50%;
    filter: invert(1);
}

.your-company{
    flex-basis: 100%;
}

.your-company-title{
    flex-basis: 70%;
    font-size: 25px;
}

.your-company-title h2{
    color: #61082B;
}

.your-company-button{
    flex-basis: 30%;
    text-align: end;
}

/* ! FAQ */

.faq h2{
    border-bottom: 1px solid black;
    font-size: 30px;
    padding: 50px 0;
}

.quest{
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding: 40px 0;
}

.quest .fa-caret-down{
    margin-right: 20px;
}

.text-response{
    display: none;
    margin-top: 20px;
}

.quest:hover .text-response{
    display: block;
}

/* ? Footer */

.ul-footer{
    gap: 20px;
}

.cell-footer{
    margin: 80px 0;
    flex-basis: 20%;
}

.cell-footer a{
    display: inline-block;
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
}

.cell-footer .title-list{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.cell-footer a:hover{
    color: lightyellow;
}

.language *{
    color: white;
}

.language span{
    display: inline-block;
    padding-top: 40px;
    border-top: 1px solid white;
}